// Variables
// Colors
$blue-900 : #0D2C6C;
$blue-700 : #004A80;
$blue-500 : #0F75BB;
$blue-400 : #D4EFFC;
$blue-300 : #F2F7FF;
$blue-200 : #F2F6FF;

$gray-300 : #DEE1E2;
$gray-700 : #808284;
$gray-900 : #58595B;

$red      : #CD163F;
$white    : #fff;
$black    : #000;
$pink     : #CD163F;

// Media Queries
$mobile: 576px; // 43em
$tablet: 768px; // 62em
$desktop: 992px; // 82em


